.guess-window {
  padding-top: 30px;
  padding-bottom: 30px;
  
  .guess-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    .guess-col{
      outline: solid 3px grey;
      padding: 8px;
      width: 30px;
      height: 30px;
    }
  }
}